<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meke Me Elvis - Add Email</title>
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
    
    <form method="post" action="addemail.php">
        <table>
            <tr>
                <td style="vertical-align: top;">
                    <table>
                        <tr>
                           <td colspan="2">
                             <img src="../../assets/images/elvislogo.gif" alt="Logo">
                           </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="first_name">First name:</label>
                            </td>
                            <td>
                                <input type="text" name="first_name" id="first_name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="last_name">Last name:</label>
                            </td>
                            <td>
                                <input type="text" name="last_name" id="last_name">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="email">Email:</label>
                            </td>
                            <td>
                                <input type="text" name="email" id="email">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Submit">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                  <img src="../../assets/images/blankface.jpg" alt="blankface">
                </td>
            </tr>
        </table>
       
    </form>
</body>

</html>